.basicInfo {
    display: flex;
    justify-content: space-evenly;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.inputTitle {
    grid-column: 1;
    grid-row: 1;
}

.contactInput {
    grid-column: 1 / span 2;
    grid-row: 2;
}